basic.empty.showtable=true
#basic.msg.empty_list_row=<tr class="empty"><td colspan="0">Nenhum registro encontrado.</td></tr></tr>
basic.msg.empty_list_row=

#
# Paginação
#
paging.banner.placement=bottom
paging.banner.item_name=item
paging.banner.items_name=itens
paging.banner.no_items_found=<span class="pagebanner">Nenhum item foi encontrado.</span>
paging.banner.one_item_found=<span class="pagebanner">Um {0} encontrado.</span>
paging.banner.some_items_found=	<span class="pagebanner">{0} {1} encontrados. Mostrando de {2} a {3}.</span>
paging.banner.all_items_found=<span class="pagebanner">{0} {1} encontrados. Mostrando todos os {2}.</span>
paging.banner.first=<span class="pagelinks">[Primeira/Anterior] {0} [<a href="{3}">Próxima</a>/<a href="{4}">Última</a>]</span>
paging.banner.last=<span class="pagelinks">[<a href="{1}">Primeira</a>/<a href="{2}">Anterior</a>]{0} [Próxima/Última]</span>
paging.banner.full=<span class="pagelinks">[<a href="{1}">Primeira</a>/<a href="{2}">Anterior</a>]{0}[<a href="{3}">Próxima</a>/<a href="{4}">Última</a>]</span>

#
# Exportação
#
export.banner=<div class="exportlinks"> Exportar para: {0} </div>
export.types=csv excel xml pdf
export.csv=true
export.excel=true
export.xml=true
export.pdf=true
