#set($obj = $stringUtils.uncapitalise(${pojo.name}))
<!DOCTYPE validators PUBLIC "-//OpenSymphony Group//XWork Validator 1.0.2//EN" "http://www.opensymphony.com/xwork/xwork-validator-1.0.2.dtd">
<validators>
#foreach($f in $pojo.fields)
#if(${f.type} == "String" )
	<field name="${obj}.${f.name}">
        <field-validator type="requiredstring" short-circuit="true">
            <message key="error.required"></message>
        </field-validator>
    </field>
#end
#if(${f.type} == "Long" && ${f.name} != "id")
	<field name="${obj}.${f.name}">
        <field-validator type="required" short-circuit="true">
            <message key="error.required"></message>
        </field-validator>
    </field>
#end
#if(${f.type} == "Date" )
	<field name="${obj}.${f.name}">
        <field-validator type="required" short-circuit="true">
            <message key="error.required"></message>
        </field-validator>
        <field-validator type="date" short-circuit="true">
            <message key="error.data"></message>
        </field-validator>
    </field>
#end
#end
</validators>
