#if($package)
package $package;
#end

import java.util.Map;
import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import com.opensymphony.xwork.Action;
import com.opensymphony.xwork.ActionContext;
import com.opensymphony.xwork.ActionInvocation;
import com.opensymphony.xwork.interceptor.AroundInterceptor;

/**
 * http://www.theserverside.com/articles/article.tss?l=WebWork2
 *
 * This interceptor looks for a "user" in the HttpSession. 
 * If the user not exist, it will redirect to the login page.
 * 
 * Please, help EclipseWork to configure this interceptor in the webwork-default.xml :-)
 * <interceptor name="security" class="${package}.${class}" />
 *
 * @author $author
 * 
 */
public class $class extends AroundInterceptor {
	private static final Log log = LogFactory.getLog(${class}.class);
	private boolean loggedIn = false;

	protected void before(ActionInvocation invocation) throws Exception
	{
		ActionContext ctx = ActionContext.getContext();
		Map session = ctx.getSession();
		Object user = session.get("user");

		if(user == null)
		{
			log.info("User not logged in");
			loggedIn = false;
		}
		else
			loggedIn = true;
	}

	protected void after(ActionInvocation invocation, String result) throws Exception
	{
		log.info("After");
	}

	public String intercept(ActionInvocation invocation) throws Exception {
		
		before(invocation);
		if(loggedIn == false)
			return Action.LOGIN; // send back to the login page
		else
		{
			String result = invocation.invoke();
			after(invocation, result);
			
			return result;
		}	
	}
}