#if($package)
package $package;
#end

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

import $serviceInterface.fullyName;

import $model.fullyName;
import $baseController.fullyName;

/**
 * This controller will response a call about module of $model.name type. It's will
 * controller operations retrieve, create, update and remove.
 * 
 * @author $author
 * @date $date
 * 
 */
@Controller
@RequestMapping(value = "/$model.name")
public class ${model.name}Controller extends $baseController.name<$model.name> {

	@Autowired
	public ${model.name}Controller(${serviceInterface.name} service) {
		super(service);
	}

}
