#if($package)
package $package;
#end

import $baseServiceInterface.fullyName;
import $model.fullyName;

/**
 * @author $author
 * @date $date
 */
public interface $class extends $baseServiceInterface.name<$model.name> {
}