<%@ taglib uri="webwork" prefix="ww" %>
<b>$stringUtils.capitalise(${model.name}):</b><br>
#foreach($f in $model.fields)
<br><b>$stringUtils.uncapitalise(${f.name})</b>: <ww:property value="${f.name}"/>
#end