<!DOCTYPE validators PUBLIC "-//OpenSymphony Group//XWork Validator 1.0//EN" "http://www.opensymphony.com/xwork/xwork-validator-1.0.dtd">
<!-- $action -->
<validators>
<!--
    <field name="field">
        <field-validator type="requiredstring">
            <message key="i18nKey">Error message</message>
        </field-validator>
    </field>
-->
</validators>