#set($classe = ${model.elementName})
#set($vo = $stringUtils.uncapitalise(${model.elementName}))
#if($package)
package $package;
#end

import com.opensymphony.xwork.Action;
#if($extends)
import $extends.fullyName;
#end
#if($model)
import $model.fullyQualifiedName;
#end

/**
* @author $author
*/
public class $class #if($extends)#if($extends.isClass())extends#elseif($extends.isInterface())implements#end $extends.name#else implements Action#end
{
#if($model)
	private $model.elementName $vo;
#end

	/**
	 * @see com.opensymphony.xwork.Action#execute()
	 */
	public String execute() throws Exception
	{
		return Action.SUCCESS;
	}

#if($methodName)
	/**
	 * @return
	 * @throws Exception
	 */
	public String $methodName() throws Exception
	{
		return Action.SUCCESS;
	}
#end
#if($validate)
	public void validate(){
		// validate your objects here!
	}	
#end

#if($classe)
	public $classe get${classe}(){
		if($vo == null){
			$vo = new ${classe}();
		}
		return $vo;
	}
	public void set${classe}(${classe} $vo){
		this.${vo}=$vo;
	}
#end
}